In [ ]:
listkota = ['jakarta','surabaya','depok','bekasi','solo','jogjakarta','semarang','makasar']
for i, kota in enumerate(listkota):
  print(i,kota)

0 jakarta
1 surabaya
2 depok
3 bekasi
4 solo
5 jogjakarta
6 semarang
7 makasar

In [ ]:
## 0 sampai 4
for i in range(5):
  print("pertualangan ke -", i)

pertualangan ke - 0
pertualangan ke - 1
pertualangan ke - 2
pertualangan ke - 3
pertualangan ke - 4

In [ ]:
## 10 sampai 20
fo

i = 0
i = 1
i = 2
i = 3
i = 4